<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucas Ferrão's Contact</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Lucas Ferrão - Contact</h1>
        <p>Contacto</p>
    </header>
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/biography">Biografia</a></li>
            <li><a href="/education">Educação</a></li>
            <li><a href="/skills">Habilidades</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Entre em Contacto comigo</h2>
            <p>Se tiver alguma dúvida ou precisar entrar em contato comigo, não hesite em usar uma das seguintes opções:</p>
            <ul>
                <li>E-mail: <a href="mailto:llffabc@gmail.com">llffabc@gmail.com</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/lucaslfferrao/">lucasferrao</a></li>
                <li>Telefone: +351 932057735</li>
            </ul>
        </section>
        <section>
            <h2>Mensagem Direta</h2>
            <form action="submit_form.php" method="post">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Mensagem:</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Enviar Mensagem</button>
            </form>
        </section>
    </main>
    <footer>
        <p>© 2024 Lucas Ferrão. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
